---
- name: Create Gitea namespace
  ansible.builtin.command: kubectl create namespace {{ gitea_namespace }}
  failed_when: false
  changed_when: false
  become: no

- name: Add Gitea Helm repository
  ansible.builtin.command: helm repo add gitea-charts https://dl.gitea.com/charts/
  changed_when: false
  become: no

- name: Update Helm repositories
  ansible.builtin.command: helm repo update
  changed_when: false
  become: no

- name: Create Gitea Helm values file
  ansible.builtin.copy:
    dest: /tmp/gitea-values.yaml
    content: |
      persistence:
        enabled: true
        size: 10Gi
        storageClass: {{ storage_class }}
      
      gitea:
        admin:
          username: gitea
          password: "{{ vault_gitea_admin_password | default('changeme') }}"
          email: admin@{{ tailscale_gitea_hostname | default('gitea') }}
        
        config:
          database:
            DB_TYPE: sqlite3
          
          server:
            DOMAIN: {{ tailscale_gitea_hostname | default('gitea') }}
            ROOT_URL: http://{{ tailscale_gitea_hostname | default('gitea') }}:3000/
            DISABLE_SSH: false
            SSH_PORT: 22
            LFS_START_SERVER: true
          
          session:
            PROVIDER: file
          
          log:
            MODE: console
            LEVEL: info
      
      service:
        http:
          type: LoadBalancer
          port: 3000
          annotations:
            tailscale.com/expose: "true"
            tailscale.com/hostname: "{{ tailscale_gitea_hostname | default('gitea') }}"
        
        ssh:
          type: LoadBalancer
          port: 22
          annotations:
            tailscale.com/expose: "true"
            tailscale.com/hostname: "{{ tailscale_gitea_ssh_hostname | default('gitea-ssh') }}"
      
      resources:
        limits:
          cpu: 1000m
          memory: 1Gi
        requests:
          cpu: 200m
          memory: 512Mi

- name: Deploy Gitea using Helm
  ansible.builtin.command: >
    helm upgrade --install gitea gitea-charts/gitea
    --namespace {{ gitea_namespace }}
    --values /tmp/gitea-values.yaml
    {{ '--version ' + gitea_chart_version if gitea_chart_version else '' }}
    --wait
  changed_when: true
  become: no
