---
- name: Verify Minikube storage provisioner is available
  ansible.builtin.command: kubectl get storageclass standard
  register: storage_check
  changed_when: false
  failed_when: false
  become: no

- name: Enable Minikube storage addon if not present
  ansible.builtin.command: minikube addons enable storage-provisioner
  when: storage_check.rc != 0
  become: no
  changed_when: false

- name: Set standard as default storage class
  ansible.builtin.command: kubectl patch storageclass standard -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'
  when: storage_check.rc == 0
  changed_when: false
  failed_when: false
  become: no
