---
- name: Install unattended-upgrades package
  ansible.builtin.apt:
    name:
      - unattended-upgrades
      - apt-listchanges
    state: present

- name: Configure unattended-upgrades
  ansible.builtin.template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    mode: '0644'

- name: Enable automatic updates
  ansible.builtin.template:
    src: 20auto-upgrades.j2
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: '0644'

- name: Create apt update script
  ansible.builtin.copy:
    dest: /usr/local/bin/apt-update.sh
    mode: '0755'
    content: |
      #!/bin/bash
      # Automated apt update script
      
      apt-get update
      apt-get upgrade -y
      apt-get autoremove -y
      apt-get autoclean

- name: Schedule apt updates with cron
  ansible.builtin.cron:
    name: "Automated apt updates"
    minute: "{{ apt_updates_schedule.split()[0] }}"
    hour: "{{ apt_updates_schedule.split()[1] }}"
    day: "{{ apt_updates_schedule.split()[2] }}"
    month: "{{ apt_updates_schedule.split()[3] }}"
    weekday: "{{ apt_updates_schedule.split()[4] }}"
    job: "/usr/local/bin/apt-update.sh >> /var/log/apt-update.log 2>&1"
    user: root
